body {
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 75px;
}

.title {
  text-align: center;
  font-size: 40px;  
}

.answer {
  border: 1px solid black;
  border-radius: 15px;
  margin:1%;
  padding:20px 175px 20px 10px;
}
.question-container {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  width: 450px;
  height: 450px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .question-container {
    width: 320px;
  }
  .answer {
    padding: 20px 100px 20px 10px;
  }

  main {
    padding-top: 25px;
  }
}


.question-number {
  text-align: center;
  font-size: 24px;
  justify-self: start;
  
}

.img-container {
  border: 2px solid black;
  float: left;
  width: 150px;
  height: 150px;

}

#image {
  width: 100%;
  height: 100%;
  resize: auto;
}

.question {
  font-size: 20px;
}

.answers {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 25%;
}


.answer:hover {
  background-color: rgb(108, 151, 216);
  
}

.answer.selected {
  background-color: rgb(108, 151, 216);
}

.correct {
  background-color: #57f50d;
  opacity: 1;
  transition: all 0.5s;
}

.incorrect {
  background-color: #ff1010;
  opacity: 1;
  transition: all 0.5s;
}